$primary-color: #000;
$secondary-color: #17A7E0;

$bg-main: #E9E9E9;
$bg-light: #FAFAFA;

$text-primary: #636363;
$text-secondary: #FFFFFF;

$body-font: Century Gothic;
$body-font-size: 15px;
$body-line-height: 22px;

$bp-header: 1000px;
$header-color: #222222;

$border-radius: 10px;
// Max width for header bar at top of screen
$header-width: 1200px;

$bp-main: 1000px;

// Default padding
$padding: 20px;

$container-max: 1200px;

$animate-length: 0.2s;
$animate-transition: $animate-length ease;